.navbar{background:black;}
.jumbotron{height:600px;
font-family:Lobster;
background: url("https://images.unsplash.com/photo-1484026127540-d8fe960b53d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80")center center/cover no-repeat;
}
.center{margin-left:180px;
font-size:6rem;
}
.capital{font-size:12rem;
	color:black;
}
.capital1{font-size:12rem;
	color:black;
}
h3{ margin-left:285px;
	color:white;
	font-size:2rem;
}
.snow{border: 5px solid black;
margin-left: 30px;}
.intro{color:black;
font-family: Lobster;
font-size:1.3rem;
}
.intro1{
	font-size:1rem;}
.hotel{text-align: center;
font-size:4rem;
font-weight: bold;
color:black;
text-decoration-line: underline;}
.card-body{text-align: center;}
.hotel{
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	color: black;
}
.card-body{
	text-align: center;
}
.image5{
	margin-top: 10px;
	margin-left: 210px;
}
.bolding{
	font-weight: bold;
}
.intro4{font-weight: bold;
font-size:1.3rem;
text-align:center;}
.bullet1{
	font-size: 2rem;
	font-weight: normal;
	margin-left: 20px;
}
.intro5{margin-top: 165px;
font-size: 1.3rem;}
.def{font-weight: bolder;
font-size: 1.3rem;}
.bullet1{font-weight: bold;
font-size:2.5rem;}
.def1{font-size:1.3rem;}
.image7{margin-top: 120px;}





